body {
    margin: 0;
}

.document {
    width: 100%;
    box-sizing: border-box;
}

.noscript-overlay {
    all: initial;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

.calculator {
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
}

.dcg-pillbox-container {
    visibility: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
}

.dir-vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dir {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 20px;
}

.dir-item {
    border-top: 1px solid rgb(234, 234, 234);
    padding: 5px;
}

.dir-clickable {
    cursor: pointer;
}
.dir-clickable:hover {
    background-color: #dbdbdb;
}

.dir-disabled {
    color: rgb(174, 174, 174);
}

.dir-header {
    color: black;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.544);
    cursor: pointer;
}

.dir-connection-lost {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ff4c4c;
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.544);
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dir-nex-file {
    font-weight: bold;
}
